<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">  
    <filter-mapping>
  	<filter-name>FilterA</filter-name>
  	<url-pattern>\a.do</url-pattern>
  	<url-pattern>\b.do</url-pattern>
  	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>
</web-app>
